resources/pug/index.pug
extends /_partials/_layout
block append vars
    //- ページ個別にメタデータを変更したい場合はここで再設定できます
    - metas.title = sitetitle
block append style
    //- ページ個別にスタイルシートを追加したい場合はここへ記述  
    link(rel='stylesheet', href='/assets/css/top.css')
block append end_of_body
    //- ページ個別にJsを追加したい場合はここへ記述  
block contents
    //- コンテンツ本文
    .main-visual
        h1.main-visual_title ここはBIMのすべて
        p.main-visual_txt BIMworkはBIMを扱う人すべてを応援するサイトです。
                            br
                            | 「BIMで困った時、BIMworkを開けば解決できる。」そんなサイトを目指しています。
                            br
                            | ここでは、BIMの最新情報やBIMの使い方を学ぶ講座の閲覧、
                            br
                            | BIMオブジェクトのダウンロードをすることができます。
    .section-blue
        .content-1
            .number
                p 1
            .box
                h1 BIMを知る、BIMを使う
                p BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。
            .photo
                img(src="/assets/img/section1_1.jpg", alt="")

        .content-sell
            .number.number-sell
                p 2
            .box
                h1 誰でもBIMに関する情報を発信・販売できる
                p BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。
            .photo-sell
                img(src="/assets/img/section1_2.jpg", alt="")
        .content-1
            .number
                p 3
            .box 
                h1 設計者とメーカーをつなぐ
                p 設計者はメーカーが掲載する記事やBIMオブジェクトを比較・検討することで、プロジェクトへの商品の採用を検討することができます。疑問点やリクエストがあれば、BIMオブジェクトページや各企業ページ記載のメッセージ機能により、メーカーに直接問い合わせすることも可能です。
            .photo
                img(src="/assets/img/section1_3.jpg", alt="")
    .section-white
        .section-white__inner
            .use-title 
                h1 BIMworkを利用する
            .use-category 
                .use-content
                    img(src="/assets/img/section2_1.jpg", alt="")
                    h2 記事を探す
                    p BIMの概要や活用事例など、BIMに関する最新記事をお届けします。
                .use-content
                    img(src="/assets/img/section2_2.jpg", alt="")
                    h2 BIM講座
                    p ソフト別、利用者別にBIMの使い方を学ぶことのできる講座です。
                .use-content
                    img(src="/assets/img/section2_3.jpg", alt="")
                    h2 BIMオブジェクト
                    p モデル作成に必要なパーツをフリーダウンロード、購入することができます。
            .use-regester
                .use-title__useful
                    h1 会員登録すると便利です
                .use-title__dsc
                    p BIMオブジェクトの購入やフリーダウンロードには登録が必要です。
                    br
                    | 登録していただくと記事や講座をお気に入り登録したり、メーカーへ問い合わせすることもできます。
                .use-btn
                    img.use-btn__icon(src="/assets/img/login_navy.svg", alt="")
                    p.use-btn__txt  新規会員登録はこちら
                .use-title__post
                    h1 BIMworkでは掲載者を募集しています
                .use-title__post-desc
                    p 作成したBIMオブジェクトを販売することが可能です。
                    br
                    | また、記事を掲載し、貴社の商品をアピールすることもできます。
                    p
                    br
                    | 詳しくは下記フォームよりお気軽にお問い合わせください。
                .use-post 
                        .use-post__article 
                            h1 BIMオブジェクトの販売
                            p 作成したBIMオブジェクトを販売・無料配布することが可能です。（有料販売の場合、売り上げの20%の販売手数料がかかります）
                        .use-post__article 
                            h1 記事の投稿
                            p 建築DXに関わる記事や、掲載したBIMオブジェクトの紹介記事など、BIMに関わる記事を作成・公開することが可能です。
                        .use-post__article 
                            h1 企業ページの作成（法人様のみ）
                            p 法人様のみ、企業ページを作成することが可能です。企業基本情報のほか、掲載したBIMオブジェクトや記事をまとめて表示することが可能です。
                .use-btn
                    img.use-btn__icon(src="/assets/img/mail_navy.svg", alt="")
                    p.use-btn__txt  お問い合わせはこちら

webroot/index.html
<!DOCTYPE html>
<html lang="ja">
  <head>
    <!--Global site tag (gtag.js) - Google Analytics-->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-xxxxxxxx-x"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-xxxxxxxx-x');
    </script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <!-- META-->
    <title>サイト名</title>
    <meta name="description" content="descriptionを記入してください"/>
    <meta name="keywords" content="keywordを記入して下さい"/>
    <meta name="twitter:site" content="https://test.com"/>
    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:description" content="descriptionを記入してください"/>
    <meta name="twitter:image:src" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:title" content="サイト名"/>
    <meta property="og:site_name" content="サイト名"/>
    <meta property="og:type" content="website"/>
    <meta property="og:locale" content="ja_JP"/>
    <meta property="og:image" content="https://test.com/assets/img/ogp.png"/>
    <meta property="og:description" content="descriptionを記入してください"/>
    <link rel="shortcut icon" href="/assets/favicon.svg"/>
    <link rel="shortcut icon" href="/assets/favicon.png"/>
    <!-- CSS-->
    <link rel="stylesheet" href="/assets/css/reset.css">
    <link rel="stylesheet" href="/assets/css/app.css">
    <link rel="stylesheet" href="/assets/css/top.css">
  </head>
  <body>
    <div class="wrapper">
      <!-- header-->
      <header class="header">
        <div class="header-logo"><a href="/"><img src="/assets/img/logo-ver.svg" alt="title logo"></a></div>
        <div class="header-nav"> 
          <ul>
            <li>記事を探す</li>
            <li>BIM講座</li>
            <li>BIMオブジェクト</li>
            <li>BIMworkについて</li>
          </ul>
        </div>
        <div class="header-btn">
          <div class="header-btn__icon"><img src="/assets/img/keisai.svg" alt="">
            <p>掲載したい方</p><span class="circle"> </span>
          </div>
          <div class="header-btn__icon"><img src="/assets/img/login.svg" alt="">
            <p>掲載したい方</p>
          </div>
          <div class="header-btn__icon"><img src="/assets/img/cart.svg" alt="">
            <p>掲載したい方</p>
          </div>
        </div>
      </header>
      <div class="content">
        <div class="main-visual">
          <h1 class="main-visual_title">ここはBIMのすべて</h1>
          <p class="main-visual_txt">BIMworkはBIMを扱う人すべてを応援するサイトです。<br>「BIMで困った時、BIMworkを開けば解決できる。」そんなサイトを目指しています。<br>ここでは、BIMの最新情報やBIMの使い方を学ぶ講座の閲覧、<br>BIMオブジェクトのダウンロードをすることができます。</p>
        </div>
        <div class="section-blue">
          <div class="content-1">
            <div class="number">
              <p>1</p>
            </div>
            <div class="box">
              <h1>BIMを知る、BIMを使う</h1>
              <p>BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。</p>
            </div>
            <div class="photo"><img src="/assets/img/section1_1.jpg" alt=""></div>
          </div>
          <div class="content-sell">
            <div class="number number-sell">
              <p>2</p>
            </div>
            <div class="box">
              <h1>誰でもBIMに関する情報を発信・販売できる</h1>
              <p>BIMworkでは、BIMに関わる最新情報を随時発信しております。また、各BIM製品の講座も充実しており、BIMを学びたい方や、さらにスキルアップしたい方に役立つ情報を揃えています。さらに会員登録することで、BIMオブジェクトのダウンロードや、各コンテンツのお気に入り登録も可能です。企業のDX導入検討や、ご自身のスキルアップにお使いください。</p>
            </div>
            <div class="photo-sell"><img src="/assets/img/section1_2.jpg" alt=""></div>
          </div>
          <div class="content-1">
            <div class="number">
              <p>3</p>
            </div>
            <div class="box"> 
              <h1>設計者とメーカーをつなぐ</h1>
              <p>設計者はメーカーが掲載する記事やBIMオブジェクトを比較・検討することで、プロジェクトへの商品の採用を検討することができます。疑問点やリクエストがあれば、BIMオブジェクトページや各企業ページ記載のメッセージ機能により、メーカーに直接問い合わせすることも可能です。</p>
            </div>
            <div class="photo"><img src="/assets/img/section1_3.jpg" alt=""></div>
          </div>
        </div>
        <div class="section-white">
          <div class="section-white__inner">
            <div class="use-title"> 
              <h1>BIMworkを利用する</h1>
            </div>
            <div class="use-category"> 
              <div class="use-content"><img src="/assets/img/section2_1.jpg" alt="">
                <h2>記事を探す</h2>
                <p>BIMの概要や活用事例など、BIMに関する最新記事をお届けします。</p>
              </div>
              <div class="use-content"><img src="/assets/img/section2_2.jpg" alt="">
                <h2>BIM講座</h2>
                <p>ソフト別、利用者別にBIMの使い方を学ぶことのできる講座です。</p>
              </div>
              <div class="use-content"><img src="/assets/img/section2_3.jpg" alt="">
                <h2>BIMオブジェクト</h2>
                <p>モデル作成に必要なパーツをフリーダウンロード、購入することができます。</p>
              </div>
            </div>
            <div class="use-regester">
              <div class="use-title__useful">
                <h1>会員登録すると便利です</h1>
              </div>
              <div class="use-title__dsc">
                <p>BIMオブジェクトの購入やフリーダウンロードには登録が必要です。</p><br>登録していただくと記事や講座をお気に入り登録したり、メーカーへ問い合わせすることもできます。
              </div>
              <div class="use-btn"><img class="use-btn__icon" src="/assets/img/login_navy.svg" alt="">
                <p class="use-btn__txt"> 新規会員登録はこちら</p>
              </div>
              <div class="use-title__post">
                <h1>BIMworkでは掲載者を募集しています</h1>
              </div>
              <div class="use-title__post-desc">
                <p>作成したBIMオブジェクトを販売することが可能です。</p><br>また、記事を掲載し、貴社の商品をアピールすることもできます。
                <p></p><br>詳しくは下記フォームよりお気軽にお問い合わせください。
              </div>
              <div class="use-post"> 
                <div class="use-post__article"> 
                  <h1>BIMオブジェクトの販売</h1>
                  <p>作成したBIMオブジェクトを販売・無料配布することが可能です。（有料販売の場合、売り上げの20%の販売手数料がかかります）</p>
                </div>
                <div class="use-post__article"> 
                  <h1>記事の投稿</h1>
                  <p>建築DXに関わる記事や、掲載したBIMオブジェクトの紹介記事など、BIMに関わる記事を作成・公開することが可能です。</p>
                </div>
                <div class="use-post__article"> 
                  <h1>企業ページの作成（法人様のみ）</h1>
                  <p>法人様のみ、企業ページを作成することが可能です。企業基本情報のほか、掲載したBIMオブジェクトや記事をまとめて表示することが可能です。</p>
                </div>
              </div>
              <div class="use-btn"><img class="use-btn__icon" src="/assets/img/mail_navy.svg" alt="">
                <p class="use-btn__txt"> お問い合わせはこちら</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- footer-->
      <footer class="footer">
        <div class="footer-blue"> 
          <div class="footer-blue__menu">
            <ul> 
              <li>トップページ</li>
              <li>記事を探す</li>
              <li>BIM講座</li>
              <li>BIMオブジェクト</li>
              <li>BIMworkについて</li>
              <li>ログイン</li>
              <li>新規会員登録</li>
              <li>お知らせ</li>
              <li>掲載したい方</li>
            </ul>
          </div>
          <div class="footer-bule__logo"> <img class="footer-bule__mainlogo" src="/assets/img/logo-hol_wh.svg" alt=""><img class="footer-bule__twitter" src="/assets/img/twitter.svg" alt=""></div>
        </div>
        <div class="footer-white">
          <div class="footer-white__corp"><img class="footer-bule__twitter" src="/assets/img/logo-mtheree.svg" alt="">
            <p>©M THREE STARS Corp.</p>
          </div>
          <div class="footer-white__policy"> 
            <ul> 
              <li>運営会社</li>
              <li>プライバシーポリシー</li>
              <li>特商法について</li>
              <li>利用規約</li>
            </ul><img class="footer-white__top" src="/assets/img/btn_top.svg" alt="">
          </div>
        </div>
      </footer>
    </div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/assets/js/app.js"></script>
  </body>
</html>
